<h1>Potions R Us Inventory Management</h1>
<div class="h_box">
  <figure>
    <a href="http://localhost:4567/potions"><img src='/images/heart.png' alt="full heart"></a>
    <figcaption><a href="http://localhost:4567/potions">View Inventory</a></figcaption>
  </figure>
  <figure>
    <a href="http://localhost:4567/makers"><img src='/images/half_heart.png' alt="half heart"></a>
    <figcaption><a href="http://localhost:4567/makers">View All Potion Makers</a></figcaption>
  </figure>
  <figure>
    <a href="http://localhost:4567/types"><img src='/images/no_heart.png' alt="empty heart"></a>
    <figcaption><a href="http://localhost:4567/types">View All Potion Types</a></figcaption>
  </figure>


</div>
