<h1>Potions R Us Inventory Management</h1>
<!-- This will be the file from which we can access the potions inventory, list of makers and list of types of potions.
It will need links to all the above. -->
