<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Potion Shoppe</title>
  <!-- DON'T FORGET TO ADD STYLESHEET ONCE IT'S MADE!
  <link rel="stylesheet" href="/css/master.css"> -->
</head>
<header>
  <nav>
    <a href="/makers">Trusted Potion Makers</a>
    <a href="/types">Types Of Potion</a>
  </nav>
</header>
<body>
  <%= yield %>
</body>
</html>
