<h1>Add A Potion</h1>
<form class="" action="/potions" method="post">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="description">Description:</label>
  <input id="description" type="text" name="description"/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <label for="cost_price">Cost Price:</label>
  <input id="cost_price" type="number" name="cost_price"/>

  <label for="sale_price">Sale Price:</label>
  <input id="sale_price" type="number" name="sale_price"/>

  <label for="maker">Potion Maker:</label>
  <select id="maker" name="maker">
    <% for maker in @makers %>
    <option value="<%= maker.id %>"><%= maker.name %></option>
    <% end %>
  </select>

  <label for="type">Potion Type:</label>
  <select id="type" name="type">
    <% for type in @types %>
    <option value="<%= type.id %>"><%= type.name %></option>
    <% end %>
  </select>

  <input type="submit" name="" value="Add Potion">
</form>
