body {
  background: url('/images/background.png');
  background-size: 100%;
  color: white;
}

a, a:link, a:visited {
  color: #f2e6ff;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #e5ffe5;
}

img{
 max-width:30%;
 max-height:30%;
}
