body {
  background: url('/images/bottles.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

a, a:link, a:visited {
  color: #f2e6ff;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #e5ffe5;
}
