<h1>Potion Types</h1>

<% for type in @types%>
<p><%=type.name%></p>

<form method="post" action="/types/<%=type.id%>">
  <label for="name">Edit Potion Type:</label>
  <input id="name" type="text" name="name"/>
  <input type="submit"  value="Update Potion Type">

</form>

<%end%>

<h2>Add A Potion Type</h2>
<form method="post" action="/types">

  <label for="name">New Potion Type:</label>
  <input id="name" type="text" name="name"/>
  <input type="submit"  value="Add Potion Type">

</form>
