<h1>Potion Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
  </tr>

<% for type in @types%>
<tr>
  <td><%=type.name%></td>
  <td><form method="post" action="/types/<%=type.id%>">
    <input id="name" type="text" name="name"/>
    <input type="submit"  value="Update">
  </form></td>
</tr>
<%end%>
</table>
<h2>Add A Potion Type</h2>
<form method="post" action="/types">

  <label for="name">New Potion Type:</label>
  <input id="name" type="text" name="name"/>
  <input type="submit"  value="Add Potion Type">

</form>
