<h1>Add A Potion Maker</h1>

<form method="post" action="/makers">
<br>
  <label for="name">Potion Maker's Name:</label>
  <input id="name" type="text" name="name"/>
<br>
  <label for="evil">What % Evil Are They?</label>
  <input id="evil" type="number" name="evil" min=0 max=100 value=0>
<br>
  <label for="certified">Are They Certified?</label>
  <input type="radio" name="certified" value="true"> Yes
  <input type="radio" name="certified" value="false">No<br>
<br>
  <input type="submit"  value="Add Potion Maker">

</form>
